{% include 'header.html'%}
<div class="container" style="margin:0 auto;padding-top:100px;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
    <div class="card" >
        <h5 class="card-header">Customer Details</h5>
        <div class="card-body">
            <div class="table-responsive " style="display:block !important;">
                <table class="table table-bordered">
                    <thead style="background:blue;color: #FFF">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">Customer ID</th>
							<th scope="col">Customer Name</th>
							<th scope="col">Phone</th>
							<th scope="col" >Event ID</th>
							<th scope="col">Event Name</th>
							<th scope="col">Event Date</th>
							<th scope="col">Event Time</th>
							<th scope="col">Event Place</th>
							<th scope="col">Amount</th>
							<th scope="col">Address</th>
							<th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for i in a %}
                        <tr style="background:#FFF;color: #000">
                            <th scope="row">{{forloop.counter}}</th>
							<td>{{i.customer_id}}</td>
                            <td>{{i.customer_name}}</td>
                            <td>{{i.phone}}</td>
							<td>{{i.order_id}}</td>
							<td>{{i.event_name}}</td>
							<td>{{i.event_date}}</td>
							<td>{{i.event_time}}</td>
							<td>{{i.place}}</td>
                            <td>{{i.amount}} Rs</td>
							<td>{{i.address}}</td>
							<td><a href="{% url 'delete_customer' pk=i.id %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Customers</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
