 {% include 'header.html'%}
{% load mathfilters %}
<div class="container" style="margin:0 auto;padding-top:100px;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
    <div class="card" >
        <h5 class="card-header">Profit of Event {{pk}}</h5>
        <div class="card-body">
		<div class="col-lg-8 col-sm-12" style="float:right;">
                    <div class="order-box">
                        <h3 style="color:#ff3ca6;">Profit Calculation</h3><br>
						<div class="d-flex">
                            <h4>Customer Total Amount </h4>
                            <div class="ml-auto font-weight-bold"> Rs {{ tot.amount__sum }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Customer Total Amount Paid</h4>
                            <div class="ml-auto font-weight-bold"> Rs {{ paid.amount_paid__sum }} </div>
                        </div>
						 <div class="d-flex">
                            <h4>Worker Total Amount </h4>
                            <div class="ml-auto font-weight-bold">  Rs {{ w_tot.tot_amount__sum }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Worker Total Amount Paid</h4>
                            <div class="ml-auto font-weight-bold">  Rs {{ w_pay.paid__sum }} </div>
                        </div>
						<div class="d-flex">
                            <h4></h4>
                            <div class="ml-auto font-weight-bold">Profit  =  Customer Total Amount Paid - Worker Total Amount Paid </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total" style="color:green;font-weight:bold;">
                            <h5 style="font-size:20px;">Profit</h5>
                            <div class="ml-auto h5"> {% with a=paid.amount_paid__sum %}   
								{% with b=w_pay.paid__sum %} 
 								<span style="font-size:20px;">Rs {{ a|sub:b }} </span>
							{% endwith %}{% endwith %}
							
							</div>
                        </div>
                        <hr> </div>
                </div> </div> </div> </div> </div>